.data{
    margin-left: 30%;
    margin-right: 30%;
    font-size: 12px;
    
}
img{
    width:500px;
}
h2{
    border-bottom-style:solid;
    border-bottom-width: 4px;
    width:560px;
    font-style:initial;
    font-size: 30px;
    

    
}
